<section class="test">
    <div class="container test__container">
        <div class="test__preTitle" id="pre-title">
            Тест №1. “JavaScript: Начальный уровень”
        </div>
        <div class="test__progressBar" id="progress-bar"></div>
        <div class="test__question">
            <div class="test__question-title" id="title">
                <span>Вопрос 2: </span>Тут должен быть текст вопроса?
            </div>
            <div class="test__question-options" id="options"></div>
        </div>
        <div class="test__actions">
            <div class="test__actions-previous">
                <button class="button button-transparent" id="prev" disabled>Назад</button>
            </div>
            <div class="test__actions-time">
                <div class="time-text">Осталось времени:</div>
                <div class="time-clock" id="timer">59</div>
            </div>
            <div class="test__actions-next">
                <button class="button button-transparent" id="next" disabled>Далее</button>
            </div>
        </div>
        <div class="test__pass">
            <a href="javascript:void(0)" id="pass">
                Пропустить вопрос <img src="../static/images/small-arrow.png" alt="Стрелка">
            </a>
        </div>
    </div>
</section>