<section class="choice">
    <div class="container choice__container">
        <div class="choice__content">
            <h1 class="common-title choice__content-title">
                Введите свои <span>данные</span>
            </h1>
            <div class="choice__content-description">
                Чтобы начать тест, выберите одну из предложенных ниже тем.
            </div>
            <div class="choice__content-options" id="choice-options"></div>
        </div>
        <div class="choice__image">
            <img src="images/choice-image.png" alt="Персонажи">
        </div>
    </div>
</section>