<section class="form">
    <div class="container form__container">
        <div class="form__content">
            <h1 class="common-title form__content-title">
                <span>Вход</span> в систему
            </h1>
            <div class="form__content-details">
                <div class="details__group">
                    <input type="text" class="details__group-input" id="email" required>
                    <label for="email" class="details__group-label">Электронная почта</label>
                </div>
                <div class="details__group">
                    <input type="password" class="details__group-input" id="password" required>
                    <label for="password" class="details__group-label">Пароль</label>
                </div>
            </div>
            <div class="form__content-button">
                <button class="button" id="process" disabled>Перейти к выбору теста</button>
            </div>
            <div class="form__content-link">
                Нет аккаунта? <a href="/#/signup">Зарегистрироваться</a>
            </div>
        </div>
        <div class="form__image">
            <img src="/images/info-image.png" alt="Персонаж">
        </div>
    </div>
</section>