.main {
    padding-top: 190px;
    padding-bottom: 231px;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__content {
    max-width: 588px;
}

.main__content-description {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;

    max-width: 486px;
}

.main__content-button {
    margin-top: 60px;
}