body {
    margin: 0;
    font-family: "Museo Sans Cyrl Regular", sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

@font-face {
    src: url("../fonts/MuseoSansCyrl500.ttf");
    font-family: "Museo Sans Cyrl Regular";
}

@font-face {
    src: url("../fonts/MuseoSansCyrl700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 42px 0 40px 0;
    border-bottom: 1px solid #dcdcf3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.common-title {
    font-family: MuseoSansCyrlB, sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933dc;
}

.big-title {
    font-family: MuseoSansCyrlB, sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933dc;
}

.button {
    padding: 14px 35px;
    background-color: #6933dc;
    border-radius: 6px;
    font-size: 17px;
    color: #ffffff;
    border: 0;
    transition: 0.4s;
    cursor: pointer;

    text-decoration: none;
}

.button:disabled,
.button:disabled:hover {
    color: #e2dfe7;
    background-color: transparent;
    cursor: not-allowed;
}

a.button {
    display: inline-block;
}

.button:hover {
    background-color: #32098a;
}

.button-transparent {
    background: transparent;
    color: #6933dc;
    border: 1px solid #6933dc;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.button-transparent:hover {
    background: #6933dc;
    color: #ffffff;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #dcdcf3;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;

    margin: 0 13px 0 0;
    border: 3px solid #6933dc;
    border-radius: 50%;

    transform: translateY(2px);

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";

    width: 10px;
    height: 10px;

    border-radius: 50%;

    box-shadow: inset 10px 10px #6933dc;
    transition: 0.2s ease transform;
    transform: scale(0);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}