.test {
    padding-top: 20px;
    padding-bottom: 50px;
}

.test__preTitle {
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
}

.test__progressBar {
    margin-top: 60px;
    margin-bottom: 80px;

    display: flex;
}

.test__progressBar-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.test__progressBar-item:not(:first-child) {
    margin-left: 130px;
}

.test__progressBar-item:not(:last-child)::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 28px;

    width: 184px;
    height: 8px;
    background: #DCDCF3;
}

.test__progressBar-item.complete:not(:last-child)::before {
    background: #6933DC;
}

.item-circle {
    width: 26px;
    height: 26px;
    background: #DCDCF3;
    border-radius: 50%;
}

.item-text {
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
}

.test__progressBar-item.complete .item-circle,
.test__progressBar-item.active .item-circle {
    background: #6933DC;
}

.test__progressBar-item.active::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 6px;

    width: 14px;
    height: 14px;

    background: #DCDCF3;
}

.test__question-title {
    font-size: 36px;
    line-height: 43px;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
}

.test__question-title span {
    color: #6933DC;
}

.test__question-options {
    margin-top: 58px;
    min-height: 344px;
}

.question__option {
    display: flex;

    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.question__option label {
    cursor: pointer;
}

.test__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test__actions-time {
    display: flex;
    align-items: center;
}

.time-text {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    margin-right: 15px;
}

.time-clock {
    background-image: url("../images/time.png");
    background-size: cover;
    background-position: center;
    width: 27px;
    height: 29px;

    font-size: 10px;
    text-align: center;
    line-height: 28px;
}

.test__pass {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.test__pass a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;

    display: flex;
    align-items: center;
}

.test__pass a:hover {
    text-decoration: underline;
}

.test__pass a img {
    margin-left: 13px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    border-radius: 50%;

    margin: 0 13px 0 0;
    transform: translateY(2px);

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 10px 10px #6933DC;
    transition: .2s ease transform;
    transform: scale(0);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}
